.card {
    height:130px;
    width: 60%;
    max-width:800px;

    border: 1px solid var(--term-text-color);
    border-radius:10px;

    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;

    transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
    overflow: hidden;
}

:global(.glow) .card {
    background-color: var(--term-bg-color);
}

.card > * {
    max-height: 100%;
}

.card h3 {
    font-size: 2em;
    margin: 0;
    color: var(--term-text-color);
}

.card p {
    font-size: 1.2em;
}

.cardText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--term-text-color);
    margin:20px;
}

.cardText > h3 {
    margin-top: auto;
    margin-bottom: auto;
}

.clickableCard {
    cursor: pointer;
}

.cardText > * {
    transition: color 0.3s ease-in-out;
}

:global(.hovered).clickableCard {    
    background-color: var(--term-text-color);
    transition: background-color 0.3s ease-in-out;
}

.clickableCard:hover .cardText > * {
    color: var(--term-bg-color);
}

.contentCard {
    height:auto;
    padding:30px;
    font-size:1.5em;
}

.closed {
    height: 0px !important;
}

.wide {
    width: 100%;
    max-width:unset;
    margin-left:auto;
    margin-right:auto;
}

/* Small screens */
@media (max-width: 800px) {
    .card {
        width: 98% !important;
        height:auto;
        font-size:.9em;
        
        margin-top:10px;
        margin-bottom:10px;
    }

    .cardText {
        margin:10px;
    }

    .contentCard {
        width: 96% !important;
        padding:10px;
        font-size:1.5em;
    }

}