.linkCard > a {    
    display: flex;
    justify-content: space-between;
}

.arrow {
    fill: var(--term-text-color);
    transition: fill 0.3s ease-in-out;
    height:100px;
    
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrowContainer {
    width: 100px;
}

/* Hover effects */

.linkCard:hover .arrow {
    fill: var(--term-bg-color);
}

@media (max-width: 600px) {
    .arrowContainer {
        width: auto;
        padding:0px;
    }

    .arrow {
        padding:0px;
    }
}