/* Default */
.inconsolata-400 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Bold */
.inconsolata-600 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.open-sans-500 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.goBack {
    margin-left:10px;
    display: inline-block;
    color: var(--terminal-text-color);
    font-size: 2.5em;
    text-decoration: none;
}

.goBack:hover {
    text-decoration: underline;
}

.header {
    margin:10px;
    font-size:2.5em;
    display: inline-block;
}

.heroContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 2em;

    margin-top:30px;
    margin-bottom:30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.heroContainer > h2 {
    margin-right:20px;
}

.main {    
    background-color: var(--terminal-bg-color);
    color: var(--terminal-text-color);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    padding: 20px;
    margin: 0px;
}

.glow {
    filter: blur(4px);
}

.container {
    position: absolute;
    z-index: 0;
    border: solid 3px var(--terminal-text-color);
    border-radius: 10px;
    height: 0px; /* Start with height 0 for animation */
    transition: height 1s cubic-bezier(0.88,-0.06, 0.32, 0.9);
    width: calc(100% - 40px);
    overflow: hidden;
    display: none;
}

.container-open {
    height: calc(100% - 40px);
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Small Devices */
@media (max-width: 600px) {
    .header {
        text-align: center;
    }

    .heroContainer {
        flex-direction: column;
        font-size:1.5em;
        margin-top:5px;
        margin-bottom:0px;
    }

    .heroContainer > h2 {
        text-align: center;
        margin: 0px;
        margin-bottom: 0px;
    }

    .heroSkill {
        height:80px;
    }

    .container, .container-glow {
        width: calc(100% - 10px);
        overflow-y:auto;
    }

    .container-open {
        height: calc(100% - 5px);
    }
}