.main {    
    background-color: var(--term-bg-color);
    color: var(--term-text-color);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    padding: 20px;
    margin: 0px;
}

.glow {
    filter: blur(4px);
}

.container {
    display: none;
    position: relative;

    z-index: 0;
    overflow-x:hidden;
    overflow-y:auto;

    border: solid 3px var(--term-text-color);
    border-radius: 10px;
    height: 0px; /* Start with height 0 for animation */
    width: calc(100% - 40px);

    transition: height 1s cubic-bezier(0.88,-0.06, 0.32, 0.9);

    
    scrollbar-gutter: stable;
}

.container-glow {
    overflow: hidden;
}

.container-open {
    height: calc(100% - 40px);
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.goBack {
    color: var(--term-text-color);
    text-decoration: none;
}

.headerContainer {
    line-break:auto;
}

.goBack:hover {
    text-decoration: underline;
}

.header {
    margin:10px;
    font-size:2.5em;
    display: inline-block;
}

.heroContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.heroContainer > h2 {
    margin-right:20px;
}

.footerContainer {
    position: relative;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.terminalSpacer {
    height:40px;
}

/* Small Devices */
@media (max-width: 800px) {
    .heroContainer {
        flex-direction: column;
        font-size:1.8em;
        margin-top:5px;
        margin-bottom:0px;
    }

    .heroContainer > h2 {
        text-align: center;
        margin: 0px;
        margin-bottom: 0px;
    }

    .heroSkill {
        height:80px;
    }
}

@media (max-width: 650px) {
    .header {
        font-size: 2.2em;
        display: flex;
        justify-content: center;
    }

    .heroContainer {
        flex-direction: column;
        font-size:1.2em;
    }    

    .container, .container-glow {
        width: calc(100% - 10px);
    }

    .container-open {
        height: calc(100% - 5px);
    }
}