.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:0px;
    padding-right:0px;
}

/* Answer */
.todays-song {
    border: 3px solid var(--term-text-color);
    border-radius:5px;
    padding: 0px;

    display: flex;
    flex-direction:row;
    justify-content: space-between;

    max-width: unset !important;
    width: unset !important;
}

.song-info {
    height:auto;
    text-align: center;
    padding-left:20px;
    padding-right:20px;
    margin: auto;
}

.song-info h2 {
    font-size: 1em;
    margin-top:0px;
}

.song-info span {
    font-size: 0.7em;
}

.song-info-player {
    margin-top: 15px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.playerContainer {
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    align-items: center;
}

.playerContainer > * {
    margin: 0 10px;
}

.song-info > *{
    margin-bottom:0px;
}

.album-cover {
    width:250px;
    height:250px;
    border: 1px solid var(--term-text-color);
}

/* Guesser */
.inputBox {
    padding: 10px;
    margin-top:30px;

    width: 100%;
    max-width:55%;
    margin-left:auto;
    margin-right:auto;
    
    background-color: var(--term-bg-obj-color);
    transition: background-color 0.3s ease-in-out;
    border: 1px solid var(--term-text-color);
    border-radius: 3px;

    color: var(--term-text-color);

    font-size: 1em;
}

.error {
    background-color: red;
}

.guessDropdown {    
    max-width: 55%;
    margin-left:auto;
    margin-right:auto;
}

:global(.glow) .guessDropdown {
    background-color: var(--term-bg-color);
}

.dropdownItem {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--term-text-color);
}

.dropdownItem:hover {
    background-color: var(--term-bg-obj-color);
    cursor: pointer;
}

/* User Management */
.nameInputContainer {
    text-align:center;
    margin-top:100px;
}

.nameInputContainer h2 {
    margin-top:0px;
    font-size: 0.8em;
}

.nameInputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly

}

.nameInputs > button {
    height:30px;
    width: 80px;
    border-radius:10px;
    padding:unset;
}

.nameInput {
    width: 60%;
    font-size:.6em;
    color:var(--term-text-color);
    background-color: var(--term-bg-obj-color);
}

/* Results */
.resultsContainer {
    text-align: center;
}

.resultsContainer button {
    width: 40px;
    height:25px;
    padding:0px;
}

@media (max-width: 800px) {
    .container {
        padding-bottom:0px;
    }

    .todays-song {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .album-cover {
        margin:10px;
    }

    
    .playerContainer {
        flex-direction: column;
        align-items: center;
    }

    .playerContainer > * {
        margin: 10px 0;
    }

    .song-info {
        padding: 10px;
    }

    .inputBox {
        max-width: 100%;
        margin-top:10px;
    }

    .guessDropdown {
        max-width: 100%;
        width: 100%;
    }
}