.terminal-container {
    position: relative;
    height: auto;
    margin: 0px;
    padding: 0px;
    z-index: 10;
}

.terminal, .terminal-blur {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    left: 0;
    
    color: var(--term-text-color);
    transition: color 0.3s ease-in-out;
    font-size:1.8em;
    min-width: 50%;
    max-width: 80%;
    max-height: 95vh;

    margin: 10px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.terminal-blur{
    filter: blur(4px);
    background-color: var(--term-bg-color);
    transition: background-color 0.3s ease-in-out;
    user-select: none;
}

.terminal-container.lowered {
    position:static;
    margin: 0px;
}


.terminal-container.lowered > * {
    position: fixed;
    width: 95%;
    min-width: unset;
    max-width: 98%;
    height: auto;
    bottom:20px;
    left:20px;
    margin-bottom:5px;
}


/* Small Devices */
@media (max-width: 600px) {
    .terminal-container.lowered > * {
        display: none;
        width:90%;
    }

    .terminal, .terminal-blur {
        width:100%;
        max-width:100%;
        font-size:7vw;
        margin:0px;
    }
    /*
    h1 {
        text-align: center;
        margin: 0px;
    }*/
}