@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Short+Stack&display=swa');

:root {
    --term-bg-color: #002400;
    --term-fg-color: #63ff63;
    --term-bg-obj-color: #335b33bd;
    --main-font: 'Inconsolata', monospace;
}

a {
    text-decoration: none;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
}

.glow {
    filter: blur(4px);
}

.glow * {
    user-select: none;
}

button {
    background-color: var(--term-fg-color);
    border: none;
    color: var(--term-bg-color);
    padding: 10px 20px;
    cursor:pointer;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
    background-color: var(--term-bg-color);
    color: var(--term-fg-color);
}

/* Target the scrollbar track */
::-webkit-scrollbar {
  width: 7px;
  background: unset;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: var(--term-fg-color);
  margin:5px;
  border-radius: 6px;
}