@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Short+Stack&display=swa');

:root {
    --terminal-bg-color: #002400;
    --terminal-text-color: #63ff63;
    --terminal-bg-object-color: #335b33bd;
    --main-font: 'Inconsolata', monospace;
}
    
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
}