/* Default */
.inconsolata-400 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Bold */
.inconsolata-600 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.open-sans-500 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header {
    margin:10px;
    font-size:2.5em;
}

.main {    
    background-color: var(--terminal-bg-color) !important;;
    color: var(--terminal-text-color) !important;
    padding:20px;
    margin:0px;
    /*position:relative;*/
}

.container, .container-glow {
    position: absolute;
    border: solid 3px var(--terminal-text-color);
    border-radius: 10px;
    height: 0px;
    transition: height 1s cubic-bezier(0.88,-0.06, 0.32, 0.9);
    width: calc(100% - 40px);
    overflow: hidden;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Terminal */
.terminal-container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.terminal, .terminal-blur {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    left: 0;
    
    color: var(--terminal-text-color);
    font-size:2vw;
    min-width: 50%;
    max-width: 80%;

    margin: 10px;
    white-space: pre-wrap;
}

.terminal-container.lowered {
    position:absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

.terminal-container.lowered > * {
    position: absolute;
    width: 100%;
    min-width: unset;
    max-width: 95%;
    height: auto;
    bottom: 0px;
}

.glow {
    filter: blur(4px);
}

/* Asteroids */
.asteroids {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.asteroid {
    position: absolute;
    cursor: default;
}

.asteroid svg {
    fill: none;
    stroke: var(--terminal-bg-object-color);
    stroke-width: 5px;
}

.background {
    z-index: -10;
    color: var(--terminal-bg-object-color)
}

/* Small Devices */
@media (max-width: 480px) {
    .container, .container-glow {
        width: calc(100% - 10px);
    }

    .terminal-container.lowered {
        display: none;
    }

    .terminal, .terminal-blur {
        width:100%;
        max-width:100%;
        font-size:7vw;
        margin:0px;
    }
    /*
    h1 {
        text-align: center;
        margin: 0px;
    }*/
}