.hero {
    font-size:40px;
    text-align: center;
    margin-bottom: 0px;
}

.tournamentBracket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.bracketRound {
    margin-left: 30px;
    margin-right: 30px;
}

.bracketMatchContainer {
    position:relative;
}

.bracketMatch {
    border: 1px solid var(--term-fg-color);
    width: 120px;
    margin:5px;
}

:global(.glow) .bracketMatch {
    background-color: var(--term-bg-color);
}

.bracketPlayer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid orangered;
}

.bracketScore {
    padding: 2px;
}

.bracketWinnerScore {
    background-color: gold;
    color: black;
}

.playerHovered {
    background: linear-gradient(90deg, orange, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.playerInfoModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    border: 1px solid var(--term-fg-color);    
    background-color: var(--term-bg-color);
}

.playerInfoModal > * {
    width: 100%;
}

@media (max-width: 600px) {
    .tournamentBracket {
       justify-content: unset;
    }

    .bracketRound {
        margin-left: 10px;
        margin-right: 10px;
    }
}